body { 
  background-image: url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

p {
	text-align: center;
}

img {
	width: 250px;
	border-radius: 50%;
	border: 5px solid #FFF;
}

.text {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	font-size: 2.5rem;
}